.toast-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 9999;
    transition: all 0.8s;
}

.toast {
    display: none;
    width: fit-content;
    min-width: 200px;
    min-height: 100px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #00000029;
    background: transparent;
    overflow: hidden;
    transition: all 0.8s;
}

.position-tr {
    top: 20px;
    right: 20px;
}
.position-tl {
    top: 20px;
    left: 20px;
}
.position-br {
    bottom: 20px;
    right: 20px;
}
.position-bl {
    bottom: 20px;
    left: 20px;
}

.toast-out-r {
    animation: toast-out-r 0.8s forwards !important;
}
.toast-out-l {
    animation: toast-out-r 0.8s forwards !important;
}

@keyframes toast-in-r {
    0% {
        transform: translateX(150%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes toast-out-r {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(150%);
    }
}

@keyframes toast-in-l {
    0% {
        transform: translateX(-150%);
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes toast-out-l {
    0% {
        transform: translateX(0);
    }
    80% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-150%);
    }
}

.toast-inner {
    height: calc(100% - 8px);
    align-content: center;
    padding: 0 max(3%, 20px);
}
.toast-inner-contents {
    display: flex;
    gap: 10px;
    margin: 5px 0;

    & .icon-area {
        width: 25px;
    }
    & * {
        animation: icon-in 0.2s ease-in;
    }
    & .msg-area {
        white-space: wrap;
    }
}

@keyframes icon-in {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.toast-progressbar {
    width: 100%;
    height: 8px;
    position: relative;
    border-top: 1px solid #eee;
    /* background: var(--color-progress); */
    /* opacity: 0.2; */

    /* &::before {
        content: "";
        display: block;
        width: 100%;
        height: inherit;
        position: absolute;
        z-index: -1;
        inset: 0;
    } */
}
.toast-progressbar-bar {
    width: 0;
    height: 100%;
    background: var(--color-progress);
    animation-name: bar;
    opacity: 1;
}

.show {
    display: block;
}

@keyframes bar {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@media (prefers-color-scheme: light) {
    .toast {
        background: #fff;
        color: #333;
    }
}
@media (prefers-color-scheme: dark) {
    .toast {
        background: #1e1e1e !important;
        color: #fff;
    }
    .toast-progressbar {
        border-top: 1px solid #4f4f4f;
    }
}

.dark.toast {
    background: #1e1e1e !important;
    color: #fff !important;
}
.dark.toast-progressbar {
    border-top: 1px solid #4f4f4f !important;
}

.light.toast {
    background: #fff !important;
    color: #333 !important;
}
.light.toast-progressbar {
    border-top: 1px solid #eee !important;
}
